{% extends 'base_default.html' %}
{% block title %} Edit User {% endblock %}
{% block content %}
    <h1 class="mb-4">Edit User</h1>
    <form method="post" action="{% url 'update_user' user.id %}" class="form-horizontal">
        {% csrf_token %}

        <input type="hidden" name="user_id" value="{{ user.id }}">

        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required
                   value="{{ user.firstname }}">
            {% if form.firstname.errors %}
                <small class="text-danger">{{ form.firstname.errors.0 }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required
                   value="{{ user.lastname }}">
            {% if form.lastname.errors %}
                <small class="text-danger">{{ form.lastname.errors.0 }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required value=" {{ user.email }}">
            {% if form.email.errors %}
                <small class="text-danger">{{ form.email.errors.0 }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="mobilephone">Telephone Number:</label>
            <input type="tel" class="form-control" id="mobilephone" name="mobilephone" required
                   value="{{ user.mobilephone }}">
            {% if form.mobilephone.errors %}
                <small class="text-danger">{{ form.mobilephone.errors.0 }}</small>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="profile">Hotspot Profile:</label>
            <select id="profile" name="profile" class="form-control" required>
                <option value="">Select Profile</option>
                {% for profile in profiles %}
                    <option value="{{ profile }}">{{ profile }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" id="isenabled" name="isenabled" {% if user.isenabled %}checked{% endif %}
                   class="form-check-input">
            <label class="form-check-label" for="isenabled">Enabled</label>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary mt-3">Register</button>
            <a href="{% url 'manage_users' %}" class="btn btn-secondary mt-3">Back to Manage Users</a>
        </div>
    </form>

{% endblock %}
