{% extends 'base.html' %}
{% block title %} Registration {% endblock %}
{% block content %}
    <div class="container my-4">
        <div class="card p-4 shadow">
            <h2 class="mb-4">Registration</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="firstname" name="firstname" required placeholder="First Name">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                    </div>
                    {% if form.firstname.errors %}
                        <small class="text-danger">{{ form.firstname.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="lastname" name="lastname" required placeholder="Last Name">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                    </div>
                    {% if form.lastname.errors %}
                        <small class="text-danger">{{ form.lastname.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                    </div>
                    {% if form.email.errors %}
                        <small class="text-danger">{{ form.email.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="mobilephone">Telephone Number:</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" id="mobilephone" name="mobilephone" required
                            placeholder="Mobile Number">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    {% if form.mobilephone.errors %}
                        <small class="text-danger">{{ form.mobilephone.errors.0 }}</small>
                    {% endif %}
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="termsandconditions" name="termsandconditions"
                        required {{ form.termsandconditions.value|yesno:"checked,unchecked" }}>
                    <label class="form-check-label" for="termsandconditions">I accept the terms and conditions</label>
                    {% if form.termsandconditions.errors %}
                        <small class="text-danger">{{ form.termsandconditions.errors.0 }}</small>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary mt-3">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
